body {
    background-color: #ac3636;
}

.card {
    border-radius: 10px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    border-radius: 25px;
}

#loginMessage {
    font-size: 14px;
    color: red;
}
